node_modules

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache
*.pytest_cache/
*.mypy_cache/

# Virtual environment
venv/
env/
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Database / Prisma artifacts
prisma/migrations/
prisma/dev.db  # if you have local SQLite dev database

# Logs
*.log

# Byte-compiled files
*.pyc


# FastAPI specific
*.db
app/keys/private.pem


